/* OVERALL ITEM CONTAINER */
.item-container {
    display: flex;
    background: var(--grey);
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;

}

.left-side {
    
}
.wine-img-wrapper {
    min-width: 100px;
    max-width: 100px;
    margin-right: 1rem;
    border: 1px solid var(--black);
    border-radius: 10px;
    max-height: 120px;
    background-color: white;
    overflow: hidden;
}

.wine-img-wrapper img {
    object-fit:scale-down;
    width: 100%;
    height: 100%;
}
/* INFORMATION TO THE RIGHT OF THE IMAGE */
.item-right-wrapper {
    display: flex;
}
/* Main Item Info */
.item-info {
    display: block;
    width: 100%;
}

.item-desc {
    height: 65px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.item-desc p {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Cta button to the right of the info */

.cta-icon {
    height: fit-content;
    margin: auto 0;
    margin-left: 20px;
}



@media only screen and (max-width: 500px){
    .item-container {
        display: block;
        height: fit-content;
    }

    .wine-img-wrapper {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
        

    }
    
    .cta-icon {
        display: none;
    }
}